{% extends 'blog/base.html' %}

{% block content %}
<h2>Our Family</h2>
<p>We are a happy family of four—Momma & Papa (Adrienne & Alex), with our two babies Sweetheart (Ava, born August 2019), and Choppa (Chopper, our furry four legged baby)!
</p>
<p>
After Ava came into our lives, we started compiling a list of all the items that worked well for us and we could not live without. We shared our favorite products with friends and thought that other people outside of our circle would want to know our recommendations—so we started this blog!
</p>
<hr>
<p>Ava was not the best sleeper. We spent many late nights researching products on how to make our lives easier, without watching videos so as not to wake her. We are by no means parenting pro’s but we just want to provide you with all of the items that we think will make your baby the happiest!
</p>
<p>
These items were used on our Sweetheart and we would not be recommending them to you otherwise! Tell us what you think of our reviews or if you have any items you want us to try and review!
Use the <a href={% url 'contact' %}>Contact Form</a> to reach us.
</p>
{% endblock %}