{% extends 'blog/base.html' %}

{% block content %}
<h2>Our Family</h2>
<p>We are a happy family of four! Momma (Adrienne), Poppa (Alex), Sweetheart (Ava), and 
Choppie (Chopper). One baby girl and one furry four legged baby! 
</p>
<p>
After we had our daughter, we started compiling a list of all the items that we could NOT live 
without for our friends who were soon to be expecting. We thought that other people outside of our 
circle of friends would want to know what worked for us too--so we started this blog!
</p>
<hr>
<h2>Our Goal</h2>
<p>We want to provide you with all of the items that we think will make your baby the happiest! These items
were used on our sweetheart and we would not be recommending them to you otherwise!
</p>
<p>
Tell us what you think of our reviews or if you have any items you want us to try and review! 
Use the <a href={% url 'contact' %}>Contact Form</a> to reach us.
</p>
{% endblock %}