{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Baby LOL Blog</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-tagsinput.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">   
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" id="navbar-brand" href="{% url 'post_list' %}">
        <img id="logo" class="logo-replace" src="/static/img/logo.png" style="margin: -20px;">
        <img id="logo-1" class="logo-replace" src="/static/img/logo_black.png" style="margin: -15px;"><strong>&nbsp; &nbsp; BabyLOL</strong></a>
            <button
                data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>            
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'post_list' %}">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'about' %}">About us</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'contact' %}">Contact us</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'post_list' %}">Blog Post</a></li>
                    </ul>
                </div>
        </div>
    </nav>
    <div class="wrapper">
        <!-- Sidebar 
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>Categories</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                {% for tag in tags %}
                    <li><a href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a></li>
                {% empty %}
                    <li>No Tags</li>
                {% endfor %}
                </li>
            </ul>
        </nav>
        
        <div class="overlay2"></div>
        -->
    </div>
    {% if request.get_full_path == "/about" %}
    <header class="masthead" style="background-image: url('/static/img/about.png');height: 373px;background-position: 10% 80%;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 col-xl-10 offset-xl-0 mx-auto">
                    <div class="site-heading" style="padding: 70px;">
                        <h1 class="d-inline-block" style="font-size: 60px;margin: 50px 0px 0px 8px;">About Us</h1><span class="subheading">We love making babies laugh and smile!</span></div>
                </div>
            </div>
        </div>
    </header>
    {% else %}
    <header class="masthead" style="background-image: url('/static/img/baby_blog.png');height: 373px;background-position: 50% 50%;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 col-xl-10 offset-xl-0 mx-auto">
                    <div class="site-heading" style="padding: 70px;">
                        <h1 class="d-inline-block" style="font-size: 60px;margin: 50px 0px 0px 8px;">Laughin' Baby</h1><span class="subheading">A guide on making babies happy!</span></div>
                </div>
            </div>
        </div>
    </header>
    {% endif %}
    <!-- Page Content for sidebar
    {% if request.get_full_path == "/about" %}
        <br>
    {% elif request.get_full_path == "/contact" %}
        <br>
    {% else %}
        
        <div id="content" class="col-md-8 col-lg-8 offset-lg-2">
            <nav>
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-sm">
                        <i class="fa fa-align-left"></i>
                        <span>Categories</span>
                    </button>
                    
                </div>
            </nav>
        <br>
    {% endif %}
    -->
        </div>
        <div class="container"> 
            <div class="row">
                <div class="col-md-8 col-lg-8 offset-lg-2">
                {% block content %}
                {% endblock %}
                
                </div>
            </div>
        </div>
        <footer class="footer">
        <div class="container">
            <!--
            <button onclick="topFunction()" id="to-top" title="Go to top"><i class="fa fa-arrow-up"></i></button>
            -->
            <div class="row  row-no-gutters">
                <div class="col">
                    <ul class="list-unstyled" id="footer-menu">
                        <li class="footer-header">Category</li>
                        <li><!--<a href={% url 'tagged' 'clothes' %}>-->Clothes</a></li>
                        <li><a href={% url 'tagged' 'feeding' %}>   Feeding</a></li>
                        <li><!--<a href={% url 'tagged' 'nursery' %}>-->Nursery</a></li>
                        <li><!--<a href={% url 'tagged' 'toiletries' %}>-->Toiletries</a></li>
                        <li><!--<a href={% url 'tagged' 'toys' %}>-->Toys</a></li>
                        <li><!--<a href={% url 'tagged' 'other' %}>-->Other</a></li>
                    </ul>
                </div>
            
                <div class="col">
                    <ul class="list-unstyled" id="footer-menu">
                        <li class="footer-header">Age</li>
                        <li><a href={% url 'tagged' 'newborn' %}>Newborn</a></li>
                        <li><a href={% url 'tagged' '0-3months' %}>0-3 Months</a></li>
                        <li><a href={% url 'tagged' '3-6months' %}>3-6 Months</a></li>
                        <li><a href={% url 'tagged' '6-12months' %}>6-12 Months</a></li>
                    </ul>
                </div>

                <div class="col">
                    <ul class="list-unstyled" id="footer-menu">
                        <li class="footer-header">Site</li>
                        <li><a href={% url 'about' %}>About Us</a></li>
                        <li><a href={% url 'post_list' %}>Blog Posts</a></li>
                        <li><a href={% url 'contact' %}>Contact Us</a></li>
                    </ul>
                </div>
            
                <div class="col">
                    <ul class="list-unstyled" id="footer-menu">
                        <li class="footer-header">Contact</li>
                        <li><i class="fa fa-envelope"></i><a href="mailto:akfamcompany2020@gmail.com"> Email</a></li>
                        <li><i class="fa fa-twitter"></i><a href="https://twitter.com/BabyLOL76245745"> Twitter</a></li>
                        <li><i class="fa fa-facebook"></i>  Facebook</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 offset-lg-2">
                    <ul class="list-inline text-center">
                        {% if user.is_authenticated %}
                        <li class="list-inline-item"><span class="btn" and style="background-color:transparent"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-plus-circle fa-stack-1x fa-inverse" onclick="location.href='{% url 'post_new' %}'"></i></span></span></li>
                        {% endif %}
                    </ul>
                    <p class="text-muted copyright">Copyright&nbsp;©&nbsp;BabyLOL 2020</p>
                </div>
            </div>
        </div>
        </footer>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/script.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-tagsinput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            // hide sidebar
            $('#sidebar').removeClass('active');
            // hide overlay
            $('.overlay2').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            // open sidebar
            $('#sidebar').addClass('active');
            // fade in the overlay
            $('.overlay2').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
</body>

</html>